@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-sm leading-relaxed text-gray-900 bg-white;
  }

  h1,
  h2,
  h3,
  h4 {
    @apply tracking-tight;
  }

  .prose {
    @apply prose-sm;
  }
}
